@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body{
    margin: 0;
    font-family: "Poiret One", serif;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.background{
    position: fixed;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.background img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
    filter: blur(20px);
    -webkit-filter: blur(50px);
    transform: scale(1.1);
}

.container {
    background-color: rgb(207, 207, 207);
    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    margin-top: 10%;
    position: absolute;
}

.container:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.player-img {
    width: 300px;
    height: 300px;
    position: relative;
    top: -50px;
    left: 50px;
}

.player-img img{
    object-fit: cover;
    border-radius: 20px;
    height: 0;
    width: 0;
    opacity: 0;
    box-shadow: 0 5px 30px 5px rgb(112, 112, 112);
}

.player-img:hover img{
    box-shadow: 0 5px 30px 15px rgb(82, 82, 82);

}

.player-img img.active{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 1;
}

h2{
    font-size: 25px;
    text-align: center;
    font-weight: 1000;
    margin: 10px 0 0;
}

h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 1000;
    margin: 10px 0 0;
}

.player-progress {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px 35px;
    height: 6px;
    width: 90%;
    font-weight: 1000;
}

.progress{
    background-color: rgb(34, 34, 34);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.music-duration {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

.player-control {
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}

.bx{
    font-size: 30px;
    color: #636363;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.bx:hover{
    filter: brightness(40%);
}

.bxs-chevron-right {
    font-size: 40px;
    position: relative;
    top: 3px;
}

.bx-pause{
    font-size: 40px;
    position: relative;
    top: 3px;
}

.search-container{
        position: relative;
        background-color: rgb(207, 207, 207);
        height: 40px;
        width: 600px;
        border-radius: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        transition: all 0.5s ease;
        margin-top: 2%;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 10px;
}

.search-container:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

.search-container input{
    font-size: 16px;
}

.url-search {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    color: #000000;
    font-family: "Poiret One", serif;
    font-weight: 1000;
}

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 580px;
    top: 100%;
    z-index: 1000;
    font-weight: 1000;
    font-size: 16px;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: rgb(190, 190, 190);
}

.volume-container {
    background-color: #636363;
    width: 45px;
    height: 45px;
    border-radius: 20px;
    display: inline-flex;
    align-items: flex-end;
    position: relative;
    justify-content: center;
    top: -10px;
    transition: height 0.3s ease-in-out; 
    overflow: hidden; 
}

.volume-container:hover {
    height: 200px; 
    border-radius: 20px; 
}

.volume-control .bx {
    margin: 0;
    color: rgb(207, 207, 207); 
}

.volume-control {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 6.5px;
    z-index: 2;
}

.volume-control i:hover {
    filter: brightness(100%);   
}

.volume-slider {
    position: absolute;
    bottom: 100px; 
    width: 125px; 
    height: 15px; 
    transform: rotate(270deg); 
    opacity: 0; 
    z-index: 1; 
    transition: opacity 0.3s ease-in-out;
}

.volume-container:hover .volume-slider {
    opacity: 1; 
}

.volume-slider::-webkit-slider-runnable-track {
    background: rgb(207, 207, 207); 
    border-radius: 5px; 
    width: 100%; 
    height: 100%; 
}

.volume-slider::-webkit-slider-thumb {
    background-color: #636363; 
    border: none;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); 
    position: relative;
    top: 50%; 
    transform: translateY(-50%); 
}


.volume-slider::-webkit-slider-thumb:hover {
    background-color: #444; 
}